<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Config Trunk</title>
    {% load staticfiles %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
    <script src="{% static 'js/sonic.js' %}"></script>
</head>
{% csrf_token %}
<script>

    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        }),
        $.ajax({
            url: "/nxapi/queryDevice/",
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data);
                for (i = 0; i < data['serial'].length; i++) {
                    $('#serialList').append("<option value='" + data['serial'][i] + "'>" + data['serial'][i] + "</option>");

                }

            }
        }),
    );
    $(function () {
        //监听select
        $('#serialList').bind('input propertychange', function () {
            {#$('#serialList').html($(this).val().length);#}
            if ($('#serialList option:selected').val() != '') {
                var serialSelected = $("#serialList").find("option:selected").val();
                console.log(serialSelected);
                var circle = new Sonic({

                    width: 50,
                    height: 50,
                    padding: 50,

                    strokeColor: '#000',
                    pointDistance: .01,
                    stepsPerFrame: 3,
                    trailLength: .7,

                    step: 'fader',

                    setup: function () {
                        this._.lineWidth = 5;
                    },

                    path: [
                        ['arc', 25, 25, 25, 0, 360]
                    ]

                });

                circle.play();

                document.body.appendChild(circle.canvas);
                $('canvas').css("margin-left", "50%");
                var formData = new FormData();
                formData.append("serial", serialSelected);
                $("#serialList").css("display", "none");
                $("#portList").css("display", "none");
                $("#vlanList").css("display", "none");
                $("#submit").css("display", "none");
                $("#vlanRange").css("display", "none");
                $.ajax({
                    url: "/nxapi/queryInterface/",
                    type: "POST",
                    cache: false,
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        console.log(data);
                        for (i = 0; i < data.length; i++) {
                            if (data[i].interface.substr(0, 1) == "E")
                                $('#portList').append("<option  value='" + data[i].interface + "'>" + data[i].interface + "</option>");
                        }
                    }
                });
                $.ajax({
                    url: "/nxapi/queryVlan/",
                    type: "POST",
                    cache: false,
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (data) {
                        var data = JSON.parse(data);
                        console.log(data);
                        for (i = 0; i < data.length; i++) {
                            $('#vlanList').append("<option  value='" + data[i]['vlanshowbr-vlanid'] + "'>" + data[i]['vlanshowbr-vlanid'] + "</option>");
                            $('#vlanRange').append("<option  value='" + data[i]['vlanshowbr-vlanid'] + "'>" + data[i]['vlanshowbr-vlanid'] + "</option>");
                        }
                        $("#serialList").css("display", "block");
                        $("#portList").css("display", "block");
                        $("#vlanList").css("display", "block");
                        $("#submit").css("display", "block");
                        $("#vlanRange").css("display", "block");
                        $('canvas').remove();
                    }
                })
            }
        });
    });

    function accessVlan() {
        var serialSelected = $("#serialList").find("option:selected").val();
        var port = $("#portList").find("option:selected").val();
        port = port.toLowerCase();
        var splitData1 = port.split("ernet");
        console.log("splitData:" + splitData1);
        var portFinal = splitData1.join('');
        var vlanRange = $("#vlanRange").find("option:selected").val();
        var vlanRangeArr =[];
        $("#vlanRange option:selected").each(function () {
            console.log($(this).val());
            vlanRangeArr.push($(this).val())
        });
        var vlanRangeFinal = vlanRangeArr.join(",");
        var nativeVlan = $("#vlanList").find("option:selected").val();
        console.log("serial:" + serialSelected + ",port:" + portFinal + ",nativevlan:" + nativeVlan + ",vlanRange:" + vlanRangeFinal);
        var formData = new FormData();
        formData.append("serial", serialSelected);
        formData.append("eth", portFinal);
        formData.append("vlanRange", vlanRangeFinal);
        formData.append("nativeVlan", "vlan-"+nativeVlan);
        var circle = new Sonic({

            width: 50,
            height: 50,
            padding: 50,

            strokeColor: '#000',
            pointDistance: .01,
            stepsPerFrame: 3,
            trailLength: .7,

            step: 'fader',

            setup: function () {
                this._.lineWidth = 5;
            },

            path: [
                ['arc', 25, 25, 25, 0, 360]
            ]

        });

        circle.play();

        document.body.appendChild(circle.canvas);
        $("#serialList").css("display", "none");
        $("#portList").css("display", "none");
        $("#vlanList").css("display", "none");
        $("#submit").css("display", "none");
        $("#vlanRange").css("display", "none");
        $('canvas').css("margin-left", "50%");
        $.ajax({
            url: "/nxapi/confTrunk/",
            type: "POST",
            cache: false,
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                $("#serialList").css("display", "block");
                $("#portList").css("display", "block");
                $("#vlanList").css("display", "block");
                $("#submit").css("display", "block");
                $("#vlanRange").css("display", "block");
                $('canvas').remove();
                console.log(data);
                if (data === "True") {
                    alert("配置成功")
                } else if (data == "False") {
                    alert("配置失败")
                }
            }
        })
    }
</script>
<body>
<form role="form" onsubmit="return false" style="margin-left: 36%">
    <div>
        <div class="form-group">
            <select class="form-control" id="serialList"
                    style="width: 30%;display: inline;float:left;margin-left: 20px;">
                <option value="" disabled selected>设备选择</option>
            </select>
            <br><br>
            <select class="form-control" id="portList"
                    style="width: 30%;display: inline;float:left;margin-left: 20px;">
                <option value="" disabled selected>端口选择（请先选择设备）</option>
            </select>
            <br><br>
            <select class="selectpicker" multiple data-live-search="true"
                    style="width: 30%;display: inline;float:left;margin-left: 20px;" id="vlanRange">
                <option value="" disabled selected>VLAN选择 可多选（请先选择设备）</option>
            </select>
            <br><br><br><br>
            <select class="form-control" id="vlanList"
                    style="width: 30%;display: inline;float:left;margin-left: 20px;">
                <option value="" disabled selected>Native VLAN选择（请先选择设备）</option>
            </select>
            <br><br>
            <button type="submit" class="btn btn-secondary"
                    style="width: 30%;display: inline;float:left;margin-left: 20px;" onclick="accessVlan()" id="submit">
                Submit
            </button>
        </div>

    </div>
</form>
</body>
</html>