<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VLAN 查询</title>
    {% load staticfiles %}
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    {% bootstrap_messages %}
</head>
<script>
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    $(document).ready(
        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        }),
        $.ajax({
            url: "/nxapi/queryDevice/",
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            success: function (data) {
                console.log(data);
                for (i = 0; i < data['serial'].length; i++) {
                    $('#serialList').append("<option value='" + data['serial'][i] + "'>" + data['serial'][i] + "</option>")
                }
            }
        }),
    );
    function split_array(arr, len) {
        var a_len = arr.length;
        {#console.log("arr:",arr);#}
        var result = [];
        for (var i = 0; i < a_len; i += len) {
            result.push(arr.slice(i, i + len));
        }
        return result;
    }
    function queryVlan() {
        var serialSelected = $("#serialList").find("option:selected").val();
        console.log(serialSelected);
        var formData = new FormData();
        formData.append("serial", serialSelected);
        $.ajax({
            url: "/nxapi/queryVlan/",
            type: "POST",
            cache: false,
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                $('#info').empty();
                var data = JSON.parse(data);
                console.log(data);
                for (var i = 0; i < data.length; i++) {
                    $('#info').append("<tr><td>" + data[i]['vlanshowbr-vlanid'] + "</td><td>" + data[i]['vlanshowbr-vlanname'] + "</td><td id='" + i + "' style=\"word-wrap:break-word;\"><p>"+data[i]['vlanshowplist-ifidx']+"</p></td></tr>");
                }

            }
        })
    }



</script>
<body>
{#{{ data }}#}
<form role="form">
    <div>
        <div class="form-group">
            <select class="form-control" id="serialList"
                    style="width: 30%;display: inline;float:left;margin-left: 20px;">
                <option value="" disabled selected>设备选择</option>
            </select>
        </div>
        <button type="button" class="btn btn-white" style="display: inline;float: left;margin-left: 20px;"
                onclick="queryVlan()">查询
        </button>
    </div>
</form>
<br><br>
<table class="table table-dark table-striped" style="table-layout:fixed;" id="vlanInfo">
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PORTS</th>
    </tr>
    </thead>
    <tbody id="info">
    </tbody>
</table>
</body>
</html>